<div class="page-header">
  <h3>Group User #<%= @group_user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Group</dt>
      <dd><%= @group_user.group_id %></dd>

      <dt>User</dt>
      <dd><%= @group_user.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/group_users" class="btn btn-primary">
        Back
      </a>
      <a href="/group_users/<%= @group_user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group_user/<%= @group_user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
