<!-- Validation failure messages -->
<% if @my_device.errors.any? %>
  <% @my_device.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @my_device.nickname %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_my_device/<%= @my_device.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input name="user_id" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for device_id -->
      <input id="device_id" name="device_id" type="hidden" value="<%= @my_device.device_id %>">

      <!-- Label and input for opsystem_id -->
      <div class="form-group">
        <label for="opsystem_id" class="control-label">
          Operating System
        </label>
        <%= select_tag :opsystem_id, options_from_collection_for_select(Opsystem.order("id DESC"), :id, :version_name, @my_device.opsystem_id), :class => "form-control" %>
      </div>

      <!-- Label and input for nickname -->
      <div class="form-group">
        <label for="nickname" class="control-label">
          Nickname
        </label>

        <input type="text" id="nickname" name="nickname" placeholder="Nickname" class="form-control" value="<%= @my_device.nickname %>">
      </div>

      <!-- Label and input for active -->
      <div class="checkbox">
        <label for="active">
          <input type="checkbox" id="active" name="active" value="1" <%= "checked" if @my_device.active %>>
          Active
        </label>
      </div>

      <button class="btn btn-warning">
        Update My Device
      </button>
      or
      <a href="/my_devices/<%= @my_device.id %>">Cancel</a>
    </form>
  </div>
</div>
