<div class="page-header">
  <h1>
    Recommends
  </h1>  <a href="/my_apps">Back</a>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>My app</th>
        <th>Activity</th>
        <th>Action</th>
        <th>Is Lifesaver</th>
        <th>Actions</th>
      </tr>

      <% @recommends.each do |recommend| %>
      <tr>
        <td><img src="<%= recommend.my_app.app.image %>" width=50></td>
        <td><%= recommend.my_app.app.name %></td>
        <td><%= recommend.activity.name %></td>
        <td><%= recommend.action.name %></td>
        <td><%= recommend.is_lifesaver %></td><!-- <img src="/img/check.png" width=20></td> -->
        <td>
          <a href="/recommends/<%= recommend.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recommend/<%= recommend.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
