<!-- Validation failure messages -->
<% if @recommend.errors.any? %>
  <% @recommend.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recommend</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recommend" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input name="user_id" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for my_app_id -->
      <input name="my_app_id" type="hidden" value="<%= @my_app_id %>">

      <table class="table">
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><img src="<%= @app_image %>" width=70></td>
          <td><%= @app_name %></td>
        </tr>
      </table>

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag :activity_id, options_from_collection_for_select(Activity.order("name ASC"), :id, :name, @recommend.activity_id), :class => "form-control" %>
      </div>

      <!-- Label and input for action_id -->
      <div class="form-group">
        <label for="action_id" class="control-label">
          Action
        </label>

        <%= select_tag :action_id, options_from_collection_for_select(Action.order("name ASC"), :id, :name, @recommend.action_id), :class => "form-control" %>
      </div>

      <!-- Label and input for is_lifesaver -->
      <div class="checkbox">
        <label for="is_lifesaver">
          <input type="checkbox" id="is_lifesaver" name="is_lifesaver" value="1" <%= "checked" if @recommend.is_lifesaver %>>
          Is lifesaver
        </label>
      </div>

      <button class="btn btn-success">
        Create Recommend
      </button>
      or
      <a href="/my_apps">Cancel</a>
    </form>
  </div>
</div>
